@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./../fonts/Inter-regular/inter-v13-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('./../fonts/Inter-regular/inter-v13-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('./../fonts/Inter-600/inter-v13-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('./../fonts/Inter-600/inter-v13-latin-600.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

@page {
  size: A4 portrait;
  margin: 32px 48px 0;
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  font-weight: normal;
  margin: 0;
  color: #000;
}

h1 {
  font-size: 24px;
  line-height: 1.5;
}

h2 {
  font-size: 16px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

ul li:before {
  content: '\2013';
  position: absolute;
  margin-left: -15px;
}

a {
  color: black;
  text-decoration: none;
}

:root{
  --gray: #ccc;
  --page-width: 768px;
  --page-height: 1142px;
  --page-width: 8in;
  --head-height: 144px;
  --summary-height: 0;
  --column-height: 944px;
}

html {
  display: flex;
  justify-content: center;
}

body {
  width: var(--page-width);
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #000;
  hyphens: auto;
}

#page {
  float: left;
  width: var(--page-width);
  padding: 24px;
}

@media print {
  body {
    width: 210mm; /* A4 width */
    height: 297mm; /* A4 height */
    font-size: 9pt; /* Smaller font size for printing */
  }
}

#head {
  height: var(--head-height);
  padding: 0px;
  text-align: right;
  margin-right: 0px;
}

#head ul {
  margin: 16px 0;
}

#head a {
  text-decoration: none;
}

#head li {
  line-height: 18px;
}

#head li:before {
  content: '';
}

#main {
  display: flex;
  flex-direction: column;
  height: calc(var(--summary-height) + var(--column-height));
}

.summary {
  height: var(--summary-height);
  padding-bottom: 16px;
}

.summary p {
  margin: 0;
}

.columns {
  height: var(--column-height);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
}

.columns > * {
  width: calc(var(--page-width) / 2.6);
}

.columns > *:nth-child(-n+2) {
  width: calc(var(--page-width) / 2);
}

.columns > *:last-child {
  margin-bottom: 0;
}

.title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 16px;
}

.position, .organization {
  margin: 0;
}

.position {
  font-weight: bold;
}

.organization {
  opacity: 0.62;
}

.place:after, .job:after {
  content:' | ';
}

.details,
.section > p {
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  margin-top: 0;
  margin-bottom: 16px;
}

.details > ul {
  padding-left: 16px;
}

.details p {
  margin: 0;
}

#main li {
  margin-bottom: 4px;
}

#main li:last-child {
  margin-bottom: 0;
}

/* #skillBox {
  display: flex;
}

.skill {
  width: 32%;
  margin: 1%; 
}

.skill h3 {
  font-size:15px;
  font-weight:bolder;
  text-transform:uppercase;
  font-style:italic;
  padding-bottom:4px;
} */
